footer {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    background-color: $grey;
    & > h2 {
        text-align: center;
        padding: 50px;
        color: #fff;
        font-size: 20px;
    }
    & > ul {
        text-align: center;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-bottom: 70px;
        list-style: none;
        li a {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            text-decoration: none; 
        }
        li a:hover,
        li a:active {
            color: $blue;
        }
        li::before {
            content: "\2022";
            color: rgb(177, 170, 170);
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em; 
        }
    }
}
#contact {
    display: flex;
    align-items: flex-end;
    div {
        display: flex;
        flex-direction: column;
        padding: 0 100px;
        p {
            font-size: 19px;
            color: #fff;
            text-align: center;
            padding-bottom: 40px;
            line-height: 30px;
            a {
                color: #fff;
            }  
            i {
                font-size: 17px; 
            }
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            list-style: none;
            padding-bottom: 60px;
            li {
                position: relative;
                i {
                    position: absolute;
                    left: -22px;
                    font-size: 16px;
                    color: #fff;  
                }
                a {
                    color: #fff;  
                }
            } 
        } 
    }
    
    .footer-img-bird {
        width: 200px;
        height: auto;
    }
    .footer-img-cat-in-cage {
        width: 200px;
        height: auto;
    }
    .footer-img-cat {
        width: 250px;
        height: auto;
        margin-bottom: 10px;
    }
    
}