@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "partials/navbar";

@import "partials/languages";

@import "partials/main";

@import "partials/explore";

@import "partials/guides";

@import "partials/smashing-family";

@import "partials/join";

@import "partials/second-guides";

@import "partials/cat-guides";

@import "partials/boost";

@import "partials/persons";

@import "partials/footer";

@import "partials/queries";
















